<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- 
    <add key="vdcs" value="BosVDC:192.168.1.11,NycVDC:192.168.1.21"/> -->
    <add key="vdcs" value="Plymouth:10.1.83.51,Standalone:10.1.83.21"/>
  </appSettings>
</configuration>